.container-fluid{
    background-color: black;
    height: 100%;
    overflow-y: auto;
    padding: 0;
}

#title{
    text-align: center;
    color: white;
    font-size: 30px;
}

#img_icone_menu{
    height: 119px;
    width: 143px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#icone_menu{
    display: none;
}
