<div class="container-fluid" (resized)="onResized($event)" id="menu-contacts-channels">
    <ul class="nav flex-column">
        <li id="title">Navbar</li>
        <li id="icone_menu"><img src="../../assets/icones/menu.png" alt="icone_menu" id="img_icone_menu"/></li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>    
