<div class="container-fluid" (resized)="onResized($event)" id="menu-contacts-channels">
    <ul class="nav flex-column" id="nav-channels-contacts">
        <li id="title">Navbar</li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>      
    
    <div class="container d-flex align-items-center" id="container-btnToggleShow">
        <div class="container d-flex justify-content-center">
            <img id="btnToggleShow" src="../../assets/icones/Fleches_droites.png" alt="flèches droites" data-toggle="modal" data-target="#myModal"/>
        </div> 
    </div>
</div>    
