#content_panel_inscription{
    display: none;
}

#title{
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
    font-size: 2vw;
    margin: 20px;
}

#inscription{
    font-size: 1vw;
}

#inscription button{
    margin: 10px;
    font-size: 1vw;
}

#inscription a{
    margin: 10px;
    color: black;
}

#resultatInscr{
    font-weight: bold;
}

#btnRetour{
    cursor: pointer;
}

#btnRetour:hover{
    text-decoration: underline;
}