<div class="container-fluid">
    <div class="container-fluid" id="content_interface_utilisateur">
        <div class="row">
            <div class="col-2" id="col-menu-contacts-channels">
                <app-menu-contacts-channels></app-menu-contacts-channels>
            </div>
            <div class="col-2" >
                <div id="multiCollapseExample1">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div> 
            </div>
            <div class="col-8" id="col-tchat">
                <app-tchat></app-tchat>
            </div>
        </div>
    </div>
</div>
